doctype html
html
	head
		link(rel='stylesheet', href='../stylesheets/style.css')
	body
		//- div(style='display:inline-block; margin-left: 3rem')
		div(style='display:inline-block')
			img(src='../../images/RBlogo.jpg')
			a(href='/', style="margin-bottom: 5rem") Home
			|
			|
			a(href='/users/login', style="margin-bottom: 5rem") Login
			|
			|
			a(href='/users/register', style="margin-bottom: 5rem") Register
			
		br
		br