doctype html
html
	head
		link(rel='stylesheet', href='/stylesheets/style.css')

	body
		include partials/header.pug
		include partials/subHeader.pug
		div.input-field-1
			h3(style="margin-top: 0")= title

			form#editEntryPassport(action='/editEntryPassport/formPost' method='POST' accept-charset="UTF-8")
				thead
					tr
						td
							input#prKy(type='text', name='prKyPost', style="display: none")
						td
							label.input-label-1(for='vndNm') Vendor Name
							input.adminForm#vndNm.input-unit-1(type='text', placeholder='enter data', name='vndNmPost', required='')
						td
							label.input-label-1(for='ediNm') EDI Name
							input.adminForm#ediNm.input-unit-1(type='text', placeholder='enter data', name='ediNmPost', required='', value='')
						td
							label.input-label-1(for='issuDt') Issue Date
							input.adminForm#issuDt.input-unit-1(type='date', placeholder='enter data', name='issuDtPost', required='', value='')
						td
							label.input-label-1(for='ndNwCt') Need New Catalog?
							input.adminForm#ndNwCt.input-unit-1(type='text', placeholder='enter data', name='ndNwCtPost', required='', value='')
						td
							label.input-label-1(for='updtwLtst') Updated w/ Latest?
							input.adminForm#updtwLtst.input-unit-1(type='text', placeholder='enter data', name='updtwLtstPost', required='', value='')
						td
							label.input-label-1(for='cmnt1') Comments1
							input.adminForm#cmnt1.input-unit-1(type='text', placeholder='enter data', name='cmnt1Post', required='', value='')
						td
							label.input-label-1(for='cmnt2') Comments2
							input.adminForm#cmnt2.input-unit-1(type='text', placeholder='enter data', name='cmnt2Post', value='')
						td
							label.input-label-1(for='cmnt3') Comments3
							input.adminForm#cmnt3.input-unit-1(type='text', placeholder='enter data', name='cmnt3Post', value='')
						td
							label.input-label-1(for='andr') Andrea
							input#andr.input-unit-1(type='text', placeholder='enter data', name='andrPost', value='')
						td
							label.input-label-1(for='nathan') Nathan
							input#nathan.input-unit-1(type='text', placeholder='enter data', name='nathanPost', value='')
						td
							label.input-label-1(for='vndEml') Vendor Email
							input.adminForm#vndEml.input-unit-1(type='text', placeholder='enter data', name='vndEmlPost', value='')

			button(type='submit', form='editEntryPassport', style="display: block; float: left") Submit

		script(src='/javascripts/editEntryPassport.js')
		script(src='/javascripts/modules/adminM0d.js')
